# Ignore everything in the root except the "wp-content" directory
/*
!/wp-content/

# Within "wp-content", ignore everything except your theme/plugin
/wp-content/*
!/wp-content/themes/
!/wp-content/mu-plugins/

wp-content/themes/fictional-university-theme/node_modules/
wp-content/themes/fictional-university-theme/build/
wp-content/themes/fictional-university-theme/build/*.css.map
wp-content/themes/fictional-university-theme/build/*.js.map
wp-content/themes/fictional-university-theme/build/index.js.map
wp-content/themes/fictional-university-theme/build/style-index-rtl.css
wp-content/themes/fictional-university-theme/build/index-rtl.css
wp-content/themes/fictional-university-theme/build/index.asset.php
wp-content/themes/fictional-university-theme/build/index.js
wp-content/themes/fictional-university-theme/css/base/*.scss
wp-content/themes/fictional-university-theme/css/base/*.css.map
wp-content/themes/fictional-university-theme/css/modules/*.scss
wp-content/themes/fictional-university-theme/css/modules/*.css.map

# Except for the following plugins
!wp-content/plugins/ourFirst-first-unique-plugin/**
!wp-content/plugins/word-filter-plugin/**
!wp-content/plugins/are-you-paying-attention/**

/wp-content/plugins/
!wp-content/plugins/are-you-paying-attention/node_modules/
# Example for a plugin named "my-plugin"
wp-content/plugins/my-plugin/node_modules/
wp-content/plugins/my-plugin/vendor/
wp-content/plugins/my-plugin/*.log
wp-content/plugins/my-plugin/*.css.map
wp-content/plugins/my-plugin/*.js.map

